  
  <div class="container ">
    <h3 style="color:rgb(143, 80, 202); text-align: center;" > Angular CRUD json-server</h3>
  <nav  class="navbar navbar-expand-lg navbar-light bg-info " >
<div class="container-fluid">
    <a class="navbar-brand" routerLink="liiskaDiiwaanka">LiiskaDiiwaanka</a> 
    <a class="navbar-brand" routerLink="kudarDiiwaanka">kudarDiiwaanka</a> 
    <a class="navbar-brand" routerLink="waxkabadalDiiwaanka">WaxkabadalDiiwaankaa</a> 

    <input class="form-control mr-sm-2" style="width: 300px; border-radius:8px  ;" type="search" placeholder="Raadi" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">add+</button>
</div>


</nav>
  </div >
  <div class="container mt-3">
  <div class="outlet">
    
  <router-outlet />
    
  </div>
  </div>