<div class="col-12">
  <div class="card">
    <div class="card-header bg-light text-primary">
      <h5>Diiwaan Galin</h5>
    </div>
    <div class="card-body">
      <form>
      <div class="row">
        <div class="col-4">
          <label for="">summadda</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-8">
          <label for="">magaca</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-12">
          <label for="">adreeska</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-12">
          <label for="">shaqada</label>
          <input type="text" class="form-control" />
        </div>
      </div>
    </form>

      <div class="row pt-2">
        <div class="col-6 text-center">
      
          
          <button class="btn btn-secondary" (click)="kudarDiiwaanka()">
            Fiiri-Liiska
          </button>
        </div>

        <div class="col-6 text-center">
          <button class="btn btn-success">xarayso</button>
        </div>
      </div>
    </div>
  </div>
</div>
