
     
  <div class="row">
    <div class="col-sm-12">
     <div class="card">
       <div class="card-header bg-light text-primary ">
        
   <div class="card-body">
    <div class="row">
     <div class="col-12">
   
       <table class="table table-hover">
     
         <thead>
   
           <th>Summadaa</th>
           <th>Magaca</th>
           <th>MagacaAabo</th>
           <th>Adreeska</th>
           <th>Shaqada</th>
           
           
           
         </thead>

         
         <tbody>
           @for (diiwaanka of Liiska; track diiwaanka.sumadda){
           <tr>
            <td>{{ diiwaanka.sumadda}}</td>
            <td>{{ diiwaanka.magaca}}</td>
            <td>{{diiwaanka.magacaAabo}}</td>
            <td>{{ diiwaanka.adreeska}}</td>
            <td>{{diiwaanka.shaqada}}</td>
             <td>
            
             <td>
               <button class="btn btn-small btn-info">waxkabadal</button>
             </td>
             <td>
            
               <button class="btn btn-small  btn-warning" style="margin-left: 10px;">Tir-tir</button>
               
          
            
             </td>
            }
         </tbody>
       </table> 
     </div>
   
    </div>
   </div>
   
       </div>
   
     </div>
   
    </div>
    
    
     </div>        