
<p class="liiskaTitle text-info">{{pageTitle}}</p>
     
  <div class="row">
    <div class="col-8">
     <div class="card">
       <div class="card-header bg-light text-primary ">
        
   <div class="card-body">
    <div class="row">
     <div class="col-12">
   
       <table class="table table-hover">
     
         <thead>
   
           <th>Summadaa</th>
           <th>Magaca</th>
           <th>Adreeska</th>
           <th>Shaqada</th>
           
           
           
         </thead>

         
         <tbody>
           @for (diiwaanka of diiwaanada; track diiwaanka.sumadda){
           <tr>
            <td>{{ diiwaanka.sumadda}}</td>
            <td>{{ diiwaanka.magaca}}</td>
            <td>{{ diiwaanka.adreeska}}</td>
            <td>{{diiwaanka.shaqada}}</td>
             <td>
            
             <td>
               <button class="btn btn-small btn-info">kudar-Diiwaanka</button>
             </td>
             <td>
            
               <button class="btn btn-small  btn-warning" style="margin-left: 10px;">katir-Diiwaanka</button>
               
          
            
             </td>
            }
         </tbody>
       </table> 
     </div>
   
    </div>
   </div>
   
       </div>
   
     </div>
   
    </div>
    <div class="col-4">
     <div class="card">
       <div class="card-header bg-light text-primary">
        <h5>Diiwaan Galin</h5>
   
       </div>
   <div class="card-body">
   <div class="row">
     <div class="col-4">
   <label for="">summadda</label>
   <input type="text" class="form-control">
     </div>
     <div class="col-8">
   <label for="">magaca</label>
   <input type="text" class="form-control">
     </div>
     <div class="col-12">
   <label for="">adreeska</label>
   <input type="text" class="form-control">
     </div>
     <div class="col-12">
   <label for="">shaqada</label>
   <input type="text" class="form-control">
     </div>
   
   </div>
   
   <div class="row pt-2">
     <div class="col-6 text-center">
   <button class="btn btn-secondary">tir-tir</button>
     </div>
   
     <div class="col-6 text-center">
       <button class="btn btn-secondary">xarayso</button>
     </div>
   
    </div>
   </div>
   
     </div>
   
    </div>
   
    
     </div>        